<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Управляющая Компания</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <div class="header_top">
            <div class="container">
                <nav class="header_top_menu">
                    <ul class="header_top_menu_list">
                        <li class="header_top_menu_list_item"><a href="/">Главная</a></li>
                        <li class="header_top_menu_list_item"><a href="/notifications">Объявления</a></li>
                        <li class="header_top_menu_list_item"><a href="#">Отчеты</a></li>
                        <li class="header_top_menu_list_item"><a href="#">Услуги</a></li>
                        <li class="header_top_menu_list_item"><a href="#">Контакты</a></li>
                        <li class="header_top_menu_list_item"><a href="#">Документы</a></li>
                    </ul>
                    <button class="header_top_menu_login">Вход</button>
                </nav>
            </div>
        </div>
        <div class="header_bottom">
            <div class="container">
                <div class="header_bottom_content">
                    <div class="header_bottom_logo_block">
                        <div class="header_bottom_logo_block_img">
                            <img src="images/logo.png" alt="logo">
                        </div>
                        <div class="header_bottom_logo_block_descr">
                            <span>ЖилКомСервис</span>
                            Управляющая Компания
                        </div>
                    </div>
                    <div class="header_bottom_request_block">
                        <div class="header_bottom_request_block_descr">
                            <span>8 800 555 35 35</span>
                            Звоните нам ежедневно
                        </div>
                        <button class="header_bottom_request_block_btn modal_open_btn">Отправить заявку</button>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section class="main_page">
            <div class="container">
                <div class="main_page_content_descr">
                    <span>Управляющая Компания</span>
                    ЖКХ всех районов всех стран
                </div>
                <div class="main_page_info">
                    <ul>
                        <li><span class="main_page_info_homes">0</span>домов в управлении</li>
                        <li><span class="main_page_info_square">0</span>обслуживаемых площадей</li>
                        <li><span class="main_page_info_workers">0</span>сотрудников</li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="about_company">
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <div class="page_title">
                            <div class="stripe"></div>
                            О КОМПАНИИ
                        </div>
                        <div class="page_descr">
                            ООО «Управляющая компания жилищно-коммунального хозяйства всех районов» работает на рынке на протяжении более 14 лет. В настоящее время в нашем управлении находится 0 домов всех городов России.
                        </div>
                        <div class="page_more">
                            <button class="page_more_btn">ПОДРОБНЕЕ</button>
                        </div>
                    </div>
                    <div class="column">
                        <img src="images/aboutcompany_img.jpg" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section class="page_request">
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <div class="page_title">
                            <div class="stripe green"></div>
                            О ЗАЯВКАХ
                        </div>
                        <div class="page_descr">
                            <p>Воспользовавшись системой, вы сможете заявить о любых неисправностях, возникших в вашей квартире, подъезде, доме или прилегающей территории.</p>
                            <p>Оставив заявку, вы получаете возможность отслеживать статус ее выполнения в режиме реального времени и быть в курсе проводимых работ.</p>
                            <p>Заявка может быть закрыта, только если качество выполненных работ вас полностью удовлетворяет, иначе ее исполнение будет возобновлено.</p>
                        </div>
                        <div class="page_more">
                            <button class="header_bottom_request_block_btn modal_open_btn">Отправить заявку</button>
                        </div>
                    </div>
                    <div class="column">
                        <img src="images/request_img.jpg" alt="">
                    </div>
                </div>
            </div>
        </section>

        <section class="page_useful">
            <div class="container">
                <div class="page_title">
                    <div class="stripe"></div>
                    ПОЛЕЗНЫЕ ССЫЛКИ
                </div>
                <div class="page_useful_blocks">
                    <div data-uslugirf class="page_useful_blocks_item">
                        <span>ГОСУСЛУГИ</span>
                        РФ
                        <div class="page_useful_blocks_item_img">
                            <img src="images/redirect.png" alt="redirect">
                        </div>
                    </div>
                    <div data-tatenergo class="page_useful_blocks_item">
                        <span>ТАТЭНЕРГОСБЫТ</span>
                        ТАТЭНЕРГОСБЫТ
                        <div data-tat class="page_useful_blocks_item_img">
                            <img src="images/redirect.png" alt="redirect">
                        </div>
                    </div>
                    <div data-uslugirt class="page_useful_blocks_item">
                        <span>ГОСУСЛУГИ</span>
                        Республики Татарстан
                        <div class="page_useful_blocks_item_img">
                            <img src="images/redirect.png" alt="redirect">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="modal hide fade">
            <div class="modal_content">
                <div class="modal_content_title">
                    Оформление заявки
                </div>
                <form action="" name="sendRequestForm">
                    <div class="modal_content_input">
                        <input class="modal_content_input_item" id="name" type="text" placeholder="ФИО" required>
                        <input class="modal_content_input_item modal_content_input_item_half" id="city" type="text" placeholder="Город" required>
                        <input class="modal_content_input_item modal_content_input_item_half" id="street" type="text" placeholder="Улица" required>
                        <input class="modal_content_input_item modal_content_input_item_half" id="numHome" type="text" placeholder="Дом" required>
                        <input class="modal_content_input_item modal_content_input_item_half" id="numApart" type="text" placeholder="Квартира" required>
                        <input class="modal_content_input_item" id="tel" type="text" placeholder="Телефон" required>
                        <input class="modal_content_input_item" id="email" type="email" placeholder="Электронная почта" required>
                        <textarea class="modal_content_input_item" required resize="none"></textarea>
                        <input class="modal_content_input_item modal_content_input_submit" type="submit">
                    </div>
                </form>
                <div class="modal_content_close">
                    <img src="images/closing.png" alt="close">
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container">
            <div class="footer_content">
                <div class="footer_contacts">
                    <div class="footer_title">
                        КОНТАКТЫ
                    </div>
                    Приёмная +7(843)562-16-89 <br>
                    Факс: +7(843)562-16-91<br>
                    Электронная почта: uk_mos@mail.ru
                </div>
                <div class="footer_graphics">
                    <div class="footer_title">
                        РЕЖИМ РАБОТЫ:
                    </div>
                    <span>с ПН по ЧТ</span> с 8:00 до 17:00 <br>
                    <span>в ПТ</span> - с 8:00 до 16:00 <br>
                    <span>Выходные дни</span> - СБ, ВС <br>
                    <span>Перерыв </span> - с 12:00 до 12:48
                </div>
                <div class="footer_adress">
                    <div class="footer_title">
                        АДРЕС
                    </div>
                    Мы находимся по адресу:<br>
                    <span>г. Казань, ул. Декабристов, 103</span>
                </div>
            </div>
        </div>
    </footer>

    <script src="js/script.js"></script>
    <script src="js/index.js"></script>
</body>
</html>