<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" href="css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <div class="main">
        <div class="main_auth_block">
            <form name="loginForm">
                <input class="form_login" type="text" name="login" placeholder="Логин" required>
                <input class="form_login" type="text" name="password" placeholder="Пароль" required>
                <div class="checkbox_block">
                    <input type="checkbox" id="checkbox" name="checkbox">
                    Войти как сотрудник
                </div>
                <button class="form_login_btn" >Войти</button>
            </form>
        </div>
    </div>
    <script src="js/login.js"></script>
</body>
</html>