<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Управляющая Компания</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/notifications.css">
</head>
<body>
    <header>
        <div class="header_top">
            <div class="container">
                <nav class="header_top_menu">
                    <ul class="header_top_menu_list">
                        <li class="header_top_menu_list_item"><a href="/">Главная</a></li>
                        <li class="header_top_menu_list_item"><a href="#">Объявления</a></li>
                        <li class="header_top_menu_list_item"><a href="#">Отчеты</a></li>
                        <li class="header_top_menu_list_item"><a href="#">Услуги</a></li>
                        <li class="header_top_menu_list_item"><a href="#">Контакты</a></li>
                        <li class="header_top_menu_list_item"><a href="#">Документы</a></li>
                    </ul>
                    <button class="header_top_menu_login">Вход</button>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <section class="notifications">
            <div class="container">
                <div class="notifications_header">
                    <div class="page_title">
                        <div class="stripe"></div>
                        Объявления
                    </div>
                    <div class="page_descr">
                        Введите адрес для проверки объявлений по вашему адресу
                    </div>
                </div>
                <div class="notifications_content">
                    <div class="notifications_content_table">
                        
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <div class="footer_content">
                <div class="footer_contacts">
                    <div class="footer_title">
                        КОНТАКТЫ
                    </div>
                    Приёмная +7(843)562-16-89 <br>
                    Факс: +7(843)562-16-91<br>
                    Электронная почта: uk_mos@mail.ru
                </div>
                <div class="footer_graphics">
                    <div class="footer_title">
                        РЕЖИМ РАБОТЫ:
                    </div>
                    <span>с ПН по ЧТ</span> с 8:00 до 17:00 <br>
                    <span>в ПТ</span> - с 8:00 до 16:00 <br>
                    <span>Выходные дни</span> - СБ, ВС <br>
                    <span>Перерыв </span> - с 12:00 до 12:48
                </div>
                <div class="footer_adress">
                    <div class="footer_title">
                        АДРЕС
                    </div>
                    Мы находимся по адресу:<br>
                    <span>г. Казань, ул. Декабристов, 103</span>
                </div>
            </div>
        </div>
    </footer>

    <script src="js/script.js"></script>
</body>
</html>