<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Specialist</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="css/specialist.css">
</head>
<body>
    <header>
        <img src="images/logo.png" alt="">
    </header>
    <div class="main">
        <div class="main_title"></div>
        <hr>
        <div class="content">

        </div>
    </div>
    <div class="menu">
        <div class="menu_nav">
            <div class="menu_nav_item">
                Текущая
            </div>
            <div class="menu_nav_item active">
                Переданные
            </div>
            <div class="menu_nav_item">
                Выполненные
            </div>
        </div>
    </div>
    <script type="module" src="js/specialist.js"></script>
</body>
</html>