<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Specialist</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="css/modal_create_req.css">
    <link rel="stylesheet" href="css/specialist.css">
</head>
<body>
    <header>
        <div class="hamburger">
            <div class="strip"></div>
            <div class="strip"></div>
            <div class="strip"></div>
        </div>
        <div class="menu">
            <button class="menu_close">
                <div class="strip_angle_right"></div>
                <div class="strip_angle_left"></div>
            </button>
            <div class="menu_item">
                <a>Новые заявки</a>
            </div>
            <div class="menu_item">
                <a>Выполненные заявки</a>
            </div>
        </div>
    </header>
    <div class="main">
        <div class="main_requests_table">
            
        </div>
    </div>

    <div class="test">
        
    </div>

    <script src="js/specialist.js"></script>
</body>
</html>