<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Specialist</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="css/modal_create_req.css">
    <link rel="stylesheet" href="css/specialist.css">
</head>
<body>
    <div class="main">
        <div class="tabs">
            <input type="radio" name="tab-btn" id="tab-btn-1" value="" checked>
            <label for="tab-btn-1" style='width: 30%;background-color: rgb(255, 248, 117);'>Новые</label>
            <input type="radio" name="tab-btn" id="tab-btn-2" value="">
            <label for="tab-btn-2" style='width: 30%;background-color:rgb(255, 207, 117);'>Текущие</label>
            <input type="radio" name="tab-btn" id="tab-btn-3" value="">
            <label for="tab-btn-3" style='width: 30%;background-color: rgb(135, 255, 117);'>Выполненные</label>
            <div id="content-new">
            </div>
            <div id="content-current">
            </div>
            <div id="content-done">
            </div>
        </div>
    </div>


    <script src="js/specialist.js"></script>
</body>
</html>