<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Панель управления</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="css/modal_create_req.css">
    <link rel="stylesheet" href="css/dispatcher.css">
    <link rel="stylesheet" href="css/users.css">
</head>
<body>
    <div class="menu">
        <div class="menu_title" style="display: flex; justify-content:center; margin-bottom: 30px;">
            <div class="menu_title_logo">
               <img src="images/logo.png" alt="" style="width: 140px;">
            </div>
        </div>
        <div class="header_top_menu_list_item">
            <a href="/dispatcher">Заявки</a>
        </div>
        <div class="header_top_menu_list_item">
            <a href="/dispatcher/reports">Отчеты</a>
        </div>
        <div class="header_top_menu_list_item">
            <a href="/dispatcher/users">Пользователи</a>
        </div>
        <div class="header_top_menu_list_item">
            <a href="/dispatcher/pays">Платежи</a>
        </div>
        <div class="header_top_menu_list_item">
            <a href="/dispatcher/residents">Жильцы</a>
        </div>
    </div>
    <div class="main">
        <div class="main_title">
            Журнал пользователей
        </div>
        <hr>
        <div class="main_header">
            <div class="main_header_role">
                Роль: 
                <select class="select_role">
                    <option>Все</option>
                    <option>Диспетчер</option>
                    <option>Плотник</option>
                    <option>Электрик</option=>
                    <option>Слесарь-сантехник</option>
                    <option>Уборщик</option>
                    <option>Дворник</option>
                    <option>Пользователь</option=>
                </select>
            </div>
            <div class="search_block">
                <input type="text" id="search" placeholder="Поиск пользователя">
                <img src="../images/search.png" alt="" class="search_user">
            </div>
            <button class="search_user_btn search_user">Найти</button>

            <button class="main_create_user_btn">
                Создать
            </button>
        </div>
        <div class="main_users_table">
            <div class="main_users_table_titles">
                <div class="main_users_table_titles_item" style="width:220px;">ID пользователя</div>
                <div class="main_users_table_titles_item" style="width:240px;">Владелец</div>
                <div class="main_users_table_titles_item" style="width:150px;">Телефон</div>
                <div class="main_users_table_titles_item" style="width:150px;">Логин</div>
                <div class="main_users_table_titles_item" style="width:150px;">Пароль</div>
                <div class="main_users_table_titles_item" style="width:150px;">Роль</div>

            </div>
            <div class="main_users_table_content"></div>
        </div>
        

         <div class="modal hide fade">
            <div class="modal_select hide">
                <div class="modal_select_title">Выберите тип аккаунта</div>
                <button class="modal_select_btn_employee">Работник компании</button>
                <button class="modal_select_btn_user">Пользователь</button>
            </div>
            <div class="modal_content hide">
                <div class="modal_content_title">
                    Создание пользователя
                </div>
                <form name="createNewUser">
                    <div class="modal_content_input">
                        <div class="modal_content_input_resident">
                            Выберите жильца: <br>
                            <select id="city"></select>
                            <select id="street"></select>
                            <select id="numHome"></select>
                            <select id="numApart"></select>
                            <input type="text" disabled id="resident">
                        </div>
                        <input class="modal_content_input_item" id="login" type="text" placeholder="Логин" required>
                        <input class="modal_content_input_item" id="password" type="text" placeholder="Пароль" required>
                        <button class="modal_content_input_submit">Создать</button>
                    </div>
                </form>
                <div class="modal_content_close">
                    <img src="images/closing.png" alt="close">
                </div>
            </div>
            <div class="modal_create_employee hide">
                <div class="modal_content_title">
                    Создание работника компании
                </div>
                <form name="createNewEmployee">
                    <div class="modal_content_input">
                        <input type="text" id="surname" placeholder="Фамилия" required>
                        <input type="text" id="name" placeholder="Имя" required>
                        <input type="text" id="tel" placeholder="Телефон" required>
                        <input class="modal_content_input_item" id="login" type="text" placeholder="Логин" required>
                        <input class="modal_content_input_item" id="password" type="text" placeholder="Пароль" required>
                        <div class="radio">
                            <div class="modal_content_role">
                                <input type="radio" name="role" value="Диспетчер" checked>
                                Диспетчер
                            </div>
                            <div class="modal_content_role">
                                <input type="radio" name="role" value="Плотник" >
                                Плотник
                            </div>
                            <div class="modal_content_role">
                                <input type="radio" name="role" value="Электрик">
                                Электрик
                            </div>
                            <div class="modal_content_role">
                                <input type="radio" name="role" value="Слесарь-сантехник">
                                Слесарь-сантехник
                            </div>
                            <div class="modal_content_role">
                                <input type="radio" name="role" value="Уборщик">
                                Уборщик
                            </div>
                            <div class="modal_content_role">
                                <input type="radio" name="role" value="Дворник">
                                Дворник
                            </div>
                        </div>
                        <button class="modal_employee_input_submit">Создать</button>
                    </div>
                </form>
                <div class="modal_content_close">
                    <img src="images/closing.png" alt="close">
                </div>
            </div>
        </div>
    </div>

    <script src="js/script.js"></script>
    <script type="module" src="js/users.js"></script>
</body>
</html>