<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Панель управления</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="css/modal_create_req.css">
    <link rel="stylesheet" href="css/dispatcher.css">
    <link rel="stylesheet" href="css/users.css">
</head>
<body>
    <div class="menu">
        <div class="menu_title">УК РФ</div>
        <div class="header_top_menu_list_item">
                <a href="">Заявки</a>
        </div>
        <div class="header_top_menu_list_item">
                <a href="">Платежи</a>
        </div>
        <div class="header_top_menu_list_item">
                <a href="">Пользователи</a>
        </div>
        <div class="header_top_menu_list_item">
                <a href="">Помещения</a>
        </div>
    </div>
    <div class="main">
        <div class="main_title">
            Журнал пользователей
        </div>
        <div class="main_create_user">
            <button class="main_create_user_btn">
                <img src="images/request_create.png" alt="">
                Создать пользователя
            </button>
        </div>
        <div class="main_users_table">
            <div class="main_users_table_titles">
                <div class="main_users_table_titles_item">ID пользователя</div>
                <div class="main_users_table_titles_item">ФИО</div>
                <div class="main_users_table_titles_item" >Адрес</div>
                <div class="main_users_table_titles_item">Телефон</div>
                <div class="main_users_table_titles_item">Email</div>
                <div class="main_users_table_titles_item">Логин</div>
                <div class="main_users_table_titles_item">Пароль</div>
                <div class="main_users_table_titles_item" style="width: 150px;">Роль</div>

            </div>
            <div class="main_users_table_content"></div>
        </div>

         <div class="modal hide fade">
            <div class="modal_content">
                <div class="modal_content_title">
                    Создание пользователя
                </div>
                <form name="createNewUser">
                    <div class="modal_content_input">
                        <input class="modal_content_input_item" id="name" type="text" placeholder="ФИО" required>
                        <input class="modal_content_input_item modal_content_input_item_half" id="city" type="text" placeholder="Город" required>
                        <input class="modal_content_input_item modal_content_input_item_half" id="street" type="text" placeholder="Улица" required>
                        <input class="modal_content_input_item modal_content_input_item_half" id="numHome" type="text" placeholder="Дом" required>
                        <input class="modal_content_input_item modal_content_input_item_half" id="numApart" type="text" placeholder="Квартира" required>
                        <input class="modal_content_input_item" id="tel" type="text" placeholder="Телефон" required>
                        <input class="modal_content_input_item" id="email" type="email" placeholder="Электронная почта" required>
                        <input class="modal_content_input_item" id="login" type="text" placeholder="Логин" required>
                        <input class="modal_content_input_item" id="password" type="text" placeholder="Пароль" required>
                        <input type="radio" name="role" id="role_client" value="Пользователь" checked> Пользователь
                        <input type="radio" name="role" id="role_spec" value="Специалист">Специалист
                        <input type="radio" name="role" id="role_dispatcher" value="Диспетчер">Диспетчер
                        <button class="modal_content_input_submit">Создать</button>
                    </div>
                </form>
                <div class="modal_content_close">
                    <img src="images/closing.png" alt="close">
                </div>
            </div>
        </div>
    </div>

    <script src="js/script.js"></script>
    <script src="js/users.js"></script>
</body>
</html>