* {
    font-family: 'Montserrat', sans-serif;
    transition: all 0.3s;
}
a {
    text-decoration: none;
    color: white;
}
textarea {
    resize: none;
}
.header_top_menu_list_item {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid black;
}
.header_top_menu_list_item a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.menu {
    position: fixed;
    width: 210px;
    height: 100%;
    background-color:rgb(54, 54, 54);
}

.menu_title {
    font-size: 20px;
    width: 100%;
    height: 100px;
}

.nav_menu_item {
    font-size: 15px;
    width: 100%;
    height: 50px;
}
.nav_menu_item a{
    /* color: white; */
}

.main {
    margin-left: 210px;
    padding: 40px;
}
.main_title {
    font-size: 30px;
    color: rgb(33, 126, 163);
}
.main_requests_status {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.main_requests_status_item {
    border: 1px solid rgb(213, 213, 213);
    min-width: 200px;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 5px;
}
.main_requests_status_item_content {
    display:flex;
    align-items: center;
    min-width: 180px;
    height: 60px;
}
.main_requests_status_item_img {
    margin-right: 10px;
}
.main_requests_status_item_img img{
    width: 40px;
}

.main_requests_status_item_descr span{
    display: block;
    font-size: 15px;
}
.main_header {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.search_block {
    border: 1px solid gray;
    width: 400px;
    padding: 1px;
    display: flex;
    align-items: center;
    height: 30px;
    margin-left: 30px;
}
.search_request_btn {
    background-color: #3dae86;
    /* background: none; */
    border-radius: 5px;
    border: none;
    width: 120px;
    height: 30px;
    color: white;
    font-size: 15px;
    margin-left:10px; 
}
.search_block input{
    border: none;
    outline: none;
    margin-left: 5px;
    width: 98%;
    height: 20px;
}
.search_block img{
    width: 15px;
    margin: 0 5px;
    cursor:pointer;
}
.sort_block select {
    outline: none;
    border: none;   
    cursor:pointer;
}
.sort_block select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 5px;
  }
.modal_open_btn{
    background-color: #3dae5b;
    /* background: none; */
    border-radius: 5px;
    border: none;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-left: 235px;
    color: white;
}
.main_header button:hover{
    background-color: #ff4c4c;
    /* color: #ff4c4c; */
}

.main_header img{
    width: 20px;
    margin-right: 10px;
}
.main_requests_table_titles {
    display: flex;
    padding: 5px;
    margin-top: 10px;
    background-color:rgb(33, 126, 163);
    color: white;
    justify-content: space-between;
}

.main_requests_table_titles_item {
    font-size: 13px;
    margin-right: 10px;
}
.main_requests_table_content {
    /* padding: 5px; */
}


.main_requests_table_content_row {
    display: flex;
    justify-content: space-between;
    padding: 5px 5px 15px 5px;
    border-bottom: 1px solid rgb(192, 192, 192);
}
.main_requests_table_content_row:hover {
    opacity: 0.7;
}


.main_requests_table_content_row_item {
    font-size: 14px;
    margin-right: 10px;
}
.main_requests_table_content_row_item:last-child {
    margin: 0;
}

.modal_content_input_submit {
    background-image: linear-gradient(to top,#1e94c7 0,#4cb7ff 100%);
}

.main_requests_table_content_row_item_edit_btn {
    width: 49px;
    height: 35px;
    background: rgba(0, 0, 0, 0);
    border: none;

}
.main_requests_table_content_row_item_edit_btn img {
    width: 33px;
    height: 33px;
}

.main_requests_table_content_row_item_remove_btn {
    width: 49px;
    height: 35px;
    background: rgba(0, 0, 0, 0);
    border: none;
}

.main_requests_table_content_row_item_remove_btn img {
    width: 30px;
    height: 30px;
}

.main_requests_table_content_row_item_combobox {
    width: 100%;
    border-radius: 4px;
}

.main_requests_table_content_row_item_confirm_btn {
    width: 49px;
    height: 35px;
    background-color: white;
    border: none;
}
.main_requests_table_content_row_item_confirm_btn img {
    width: 36px;
    height: 36px;
}

.modal_content_input_resident {
    width: 80%;
    margin-top: 10px;
}
.modal_content_input_resident select {
    margin-top:5px;
    width: 49%;
}
.modal_content_input_resident input {
    width: 100%;
    margin-top: 5px;
}
.modal_content {
    height: 750px;
}
.modal_choice {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    height: 200px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items:center;
    border-radius: 5px;
}
.modal_choice_buttons {
    width: 270px;
}
.modal_choice_title {
    font-size: 20px;
    margin-top:10px;
}
.modal_choice button {
    width: 270px;
    height: 60px;
    margin-top:10px;
    border: none;
    border-radius: 5px;
    background-color:#3dae86;
    color:white;
}
.modal_choice button:hover {
    background-color:#318d6d;
}
.modal_subchoice {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    height: 200px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items:center;
    border-radius: 5px;
}
.modal_subchoice_buttons {
    width: 270px;
}
.modal_subchoice_title {
    font-size: 20px;
    margin-top:10px;
}
.modal_subchoice button {
    width: 270px;
    height: 60px;
    margin-top:10px;
    border: none;
    border-radius: 5px;
    background-color:#3dae86;
    color:white;
}
.modal_subchoice button:hover {
    background-color:#318d6d;
}


.modal_cap {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    height: 700px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items:center;
    border-radius: 5px;
    overflow:auto;
    padding: 0 0 15px 0;
}
.modal_cap_buttons {
    width: 270px;
}
.modal_cap_title {
    font-size: 20px;
    margin-top:10px;
}
.modal_cap button {
    width: 270px;
    height: 60px;
    margin-top:10px;
    border: none;
    border-radius: 5px;
    background-color:#3dae86;
    color:white;
}
.modal_cap button:hover {
    background-color:#318d6d;
}

.modal_cap_title {
    font-size: 30px;
}
.modal_cap input {
    display: block;
    width: 100%;
    outline: none;
    border: 1px solid black;
}
.modal_cap textarea {
    display: block;
    width: 100%;
    outline: none;
    border: 1px solid black;
    height: 230px;
}
.modal_cap_address {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal_cap_address input {
    margin-top: 10px;
}
.modal_cap_works {
    width: 80%;
    margin-top: 10px;
}
.modal_cap_works select {
    display: block;
    margin-top: 5px;
    width: 100%;
}
.modal_cap_type {
    width: 80%;
    margin-top: 10px;

}
.modal_cap_type select {
    display: block;
    margin-top: 5px;
    width: 100%;

}
.modal_cap_date {
    width: 80%;
    margin-top: 10px;
}
.modal_cap_descr {
    width: 80%;
    margin-top: 10px;
}
.modal_cap_executors {
    width: 80%;
    margin-top: 10px;
}
.modal_cap_executors select {
    display: block;
    margin-top: 5px;
    width: 100%;
}
.send_cap_request {
    width: 80%;
    border:none;
}
.modal_dis {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    height: 650px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items:center;
    border-radius: 5px;
    overflow:auto;
    padding: 0 0 15px 0;
}
.modal_dis_title {
    font-size: 30px;
    margin-top: 10px;
}
.modal_dis input {
    display: block;
    width: 100%;
    outline: none;
    border: 1px solid black;
}
.modal_dis textarea {
    display: block;
    width: 100%;
    height: 150px;
    outline: none;
    border: 1px solid black;
}
.modal_dis select {
    display: block;
    margin-top: 5px;
    width: 100%;
}
.modal_dis_address {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:10px;
}
.modal_dis_address input {
    margin-top: 5px;
}
.modal_dis_works {
    width: 80%;
    margin-top:10px;
}
.modal_dis_executor {
    width: 80%;
    margin-top:10px;
}
.modal_dis_date_start {
    width: 80%;
    margin-top:10px;
}
.modal_dis_date_end {
    width: 80%;
    margin-top:10px;
}
.send_dis_request {
    margin-top: 10px;
    border:none;
    border-radius: 5px;
    background-color:#318d6d;
    width: 300px;
    height: 200px;
    color: white;
}
.send_dis_request:hover {
    background-color:#246850;
}
.hide {
    display: none;
}