* {
    font-family: 'Roboto', sans-serif;
    transition: all 0.5s;
}
a {
    text-decoration: none;
}
textarea {
    resize: none;
}

.tabs>input[type="radio"] {
    display: none;
  }
  
  .tabs>input[type="radio"]:checked+label {
    background-color: black;
  }
  
  .tabs>div {
    /* скрыть контент по умолчанию */
    display: none;
    border: 1px solid #eee;
    padding: 10px 15px;
    border-radius: 4px;
  }
  
  /* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
  #tab-btn-1:checked~#content-new,
  #tab-btn-2:checked~#content-current,
  #tab-btn-3:checked~#content-done {
    display: block;
  }
  
  .tabs>label {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #eee;
    border: 1px solid transparent;
    font-size: 16px;
    border-radius: 4px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    margin-right: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    height: 30px;
  }








.main {
    padding: 5px;
}
.main_requests_table_item {
    border: 2px solid gray;
    width: 100%;
}


.hide {
    display: none;
}

.show {
    display: block;
}