* {
  font-family: 'Montserrat', sans-serif;
  transition: all 0.2s;
}
.menu {
  position: fixed;
  bottom: 0;
  width:100%;
  height: 50px;
  background-color: black;
  color: white;
}
.menu_nav {
  display: flex;
  justify-content: space-around;
}
.menu_nav_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 50px;
}
.menu_nav_item span {
  width: 100%;
  height: 100%;
  background-color: gray;
}
.active {
  color: rgb(0, 210, 158);
  text-decoration: underline;
}
header {
  height: 50px;
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 5px;
  display: flex;
  align-items: center;
}
header img {
  height: 100%;
  margin-right: 140px;
}
.main_title {
  padding: 10px;
  font-size: 20px;
  color: rgb(1, 144, 96);
  height: 30px;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main {
  padding-bottom: 60px;
}