.main_header {
    display: flex;
    align-items: center;
}
.main_create_user_btn{
    background-color: #3dae86;
    /* background: none; */
    border-radius: 5px;
    border: none;
    width: 120px;
    height: 50px;
    color: white;
    font-size: 15px;
    margin-left:20px;    
}
.search_block {
    border: 1px solid gray;
    width: 400px;
    padding: 1px;
    display: flex;
    align-items: center;
    margin-left: 50px;
    height: 30px;
}
.search_user_btn {
    background-color: #3dae86;
    /* background: none; */
    border-radius: 5px;
    border: none;
    width: 120px;
    height: 30px;
    color: white;
    font-size: 15px;
    margin-left:10px; 
}
.search_block input{
    border: none;
    outline: none;
    margin-left: 5px;
    width: 98%;
    height: 20px;
}
.search_block img{
    width: 15px;
    margin: 0 5px;
    cursor:pointer;
}
.main_header_type {
    margin-left: 30px;
}
.main_header select {
    outline: none;
    color:rgb(102, 102, 102);
    cursor: pointer;
}

.main_create_user img{
    width: 20px;
    margin-right: 10px;
}
.main_create_user button:hover{
    background-color: #ff4c4c;
    /* color: #ff4c4c; */
}

.main_users_table_titles {
    margin-top: 30px;
    display: flex;
    padding: 5px;
    /* background-color:rgb(33, 126, 163); */
    color: black;
    font-size: 16px;
}

.main_users_table_titles_item {
    cursor: pointer;
    margin-right: 10px;
}
.main_users_table_titles_item:last-child {
    margin-right: 0;
}

.main_users_table_content_row {
    display: flex;
    font-size: 13px;
    padding: 5px 5px 5px 5px;
}
.main_users_table_content_row_item {
    margin-right: 10px;
}
.main_users_table_content_row_item:last-child {
    margin-right: 0;
}
.main_tabs {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    background-color:rgb(226, 226, 226);
}
.main_tabs_item {
    border: 1px solid black;
    width: 34%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 30px;
}
.main_tabs_item:hover {
    cursor: pointer;
}
.active {
    background-color: gray;
}
.modal_select {
    width: 400px;
    height: 250px;
    background-color: rgba(255,255,255,1);
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 9px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal_select_title {
    font-size: 20px;
}
.modal_select button{
    width: 250px;
    height: 70px;
    margin-top: 20px;
    border: none;
    background-color:#3dae86;
    color: white;
    border-radius: 5px;
}
.modal_create_employee {
    width: 600px;
    height: 500px;
    background-color: rgba(255,255,255,1);
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 9px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal_content_input input{
    width: 300px;
    margin-top: 10px;
}
.radio {
    width: 300px;
}
.modal_content_role input {
    width: 20px;
    margin: 0;
}
.hide {
    display: none;
}
